<!DOCTYPE html>
<html lang="en">
<head>
    <title>follow the money</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap@4.6.2 -->
    <link rel="stylesheet" href="../script/bootstrap4.6.2_lib/bootstrap.min.css">
    <script src="../script/bootstrap4.6.2_lib/jquery.slim.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/popper.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/bootstrap.bundle.min.js"></script>
    <!-- font-awesome-4.7 -->
    <link rel="stylesheet" href="../script/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- datepicker-thai -->
    <link href="../script/bootstrap-datepicker-thai/css/datepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>
</head>
<body>

<div class="jumbotron text-center jumbo-mb-0">
  <h1>Follow the Money</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-7 mt-5">
        <div class="ml-5">
            <a href="../index.html" class="btn btn-outline-danger">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
            </a>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="text-danger">MoocUp Backend: false</h2>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 mt-5 f-18">
        <form method="post" name="hello-sheet">
            <div class="form-row">
                <div class="col-md-12 col-xl-10 mb-2">
                <label for="email_user">Email</label>
                <input type="text" class="form-control" id="email_user" name="email_user" value="" required>

                </div>
                <div class="col-md-12 col-xl-10 mb-2">
                <label for="passowrd">Password</label>
                <input type="password" class="form-control" id="passowrd" name="passowrd" value="" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-xl-10 mt-2 m-login">
                    <button class="btn btn-primary w-100" type="submit">
                        <strong>
                        Login
                        </strong>
                    </button>
                    <div class="mt-2 f-14">
                        <a href="#">ลืมรหัสผ่าน</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-xl-10 mt-2">
                    <hr>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-xl-10 mt-2">
                    <a href="singup.html" class="btn btn-success w-100">
                        <strong>
                        Singup
                        </strong>
                    </a>
                </div>
            </div>
        </form> 
    </div>
</div>

<script>
    $(".datepicker").datepicker({
        language:'th-th',
        format:'dd/mm/yyyy',
        autoclose: true
    });
</script>

</body>
</html>

<style>
    .jumbo-mb-0 {
        margin-bottom: 0px;
    }

    .date-input {
        border-color: #4335dc;
        background-image: url("img/svg/date-range.svg");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: 24px;
    }
    .f-18 {
        font-size: 18px;
    }

    .f-14 {
        font-size: 14px;
    }

    .w-100 {
        width: 100%;
    }

    .m-login {
        margin-bottom: -29px; 
    }
</style>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzF3MJCzESCim7x1rSEE9WO2xO7DZMS8UJMr5ez9t_IlcrDYEpVUXtaQBGy-q6L35uDMA/exec'
    const form = document.forms['hello-sheet']

    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => alert("บันทึกข้อมูลเรียบร้อยแล้ว.."))
        .catch(error => console.error('Error!', error.message))
    })
  </script>