<!DOCTYPE html>
<html lang="en">
<head>
    <title>follow the money</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap@4.6.2 -->
    <link rel="stylesheet" href="../script/bootstrap4.6.2_lib/bootstrap.min.css">
    <script src="../script/bootstrap4.6.2_lib/jquery.slim.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/popper.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/bootstrap.bundle.min.js"></script>
    <!-- font-awesome-4.7 -->
    <link rel="stylesheet" href="../script/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- datepicker-thai -->
    <link href="../script/bootstrap-datepicker-thai/css/datepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>
    <!-- Encryp MD5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.18.0/js/md5.min.js"></script>
</head>
<style>
    body {
      font-family: "Lucida Console", "Courier New", monospace;
      background-color: #131225;
    }

    .head-color {
        background-color: gold;
    }
</style>
<body>

<div class="text-center head-color py-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-6 text-center">
        <img src="../img/static/my-logo.png" alt="" height="200">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-7 mt-5">
        <div class="ml-5">
            <a href="../index.html" class="btn btn-outline-danger">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
            </a>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 mt-5 f-18">
        <form id="sing-up-form" method="post" name="hello-sheet">
            <div class="form-row">
                <div class="col-md-12 col-xl-10 mb-2">
                <label for="first_name">ชื่อ</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="" required>

                </div>
                <div class="col-md-12 col-xl-10 mb-2">
                <label for="last_name">นามสกุล</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-xl-10 mb-2">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" aria-describedby="validationServer03Feedback" required>
                </div>
                <div class="col-md-12 col-xl-10 mb-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="validationServer03Feedback" required>
                </div>
                <div class="col-md-12 col-xl-10 mb-2">
                    <label for="confirm-password">Confirm-Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" aria-describedby="validationServer03Feedback" required>
                </div>
                <div class="col-md-12 col-xl-10 mb-2">
                    <label class="form-check-label">เพศ</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="male" value="ชาย" required>
                        <label class="form-check-label" for="male">ชาย</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="female" value="หญิง" required>
                        <label class="form-check-label" for="female">หญิง</label>
                      </div>
                </div>
                <div class="col-md-12 col-xl-10 mb-2">
                    <label for="birthdath">วันเกิด</label>
                    <input type="text" id="birthdath" name="birthdath" autocomplete="off" class="datepicker form-control" required>
                    <div id="validationServer05Feedback" class="invalid-feedback">
                        วัน-เดือน-ปีเกิด
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                <label class="form-check-label" for="invalidCheck3">
                    ยอมรับ
                </label>
                <div  id="invalidCheck3Feedback" class="invalid-feedback">
                    ฉันยอมรับในการเผยแพร่ข้อมูลส่วนตัวของฉัน
                </div>
                </div>
            </div>
            <button id="sendUserData" class="btn btn-primary" type="submit">Submit form</button>
        </form> 
    </div>
</div>

<script>
    $(".datepicker").datepicker({
        language:'th-th',
        format:'dd/mm/yyyy',
        autoclose: true
    });
</script>

</body>
</html>

<style>
    .jumbo-mb-0 {
        margin-bottom: 0px;
    }

    .date-input {
        border-color: #4335dc;
        background-image: url("img/svg/date-range.svg");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: 24px;
    }
    .f-18 {
        font-size: 18px;
    }
</style>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzF3MJCzESCim7x1rSEE9WO2xO7DZMS8UJMr5ez9t_IlcrDYEpVUXtaQBGy-q6L35uDMA/exec'
    const form = document.forms['hello-sheet']
    var status = 0

    form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => alert("บันทึกข้อมูลเรียบร้อยแล้ว.."))
            .catch(error => console.error('Error!', error.message))
    })

    $('#sendUserData').click(function(){
        if(status != 1){
            alert('Password ไม่ถูกต้อง!')
            return false
        }
    });

    $("#password").change(function(){
        var encryp = $(this).val()
        $(this).val(md5(encryp))
    });

    $("#confirm-password").change(function(){
        var encryp = $(this).val()
        // alert('encryp! '+md5(encryp)+' // '+$("#password").val()) // debug dev
        if(md5(encryp) == $("#password").val()) {
            $(this).val(md5(encryp))
            status = 1
            alert('Sucessfully!')
        }else{
            $(this).val(md5(encryp))
            status = 0
            alert('Error!')
            return false;
        }
    });

    // local_name = md5('FollowTheMoney')
    // local_val = md5('FollowTheMoneyValue')
    // console.log(localStorage.getItem(local_name));
    // console.log(localStorage.getItem(local_val));
  </script>