<!DOCTYPE html>
<html lang="en">
<head>
    <title>follow the money</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap@4.6.2 -->
    <link rel="stylesheet" href="../script/bootstrap4.6.2_lib/bootstrap.min.css">
    <script src="../script/bootstrap4.6.2_lib/jquery.slim.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/popper.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/bootstrap.bundle.min.js"></script>
    <!-- font-awesome-4.7 -->
    <link rel="stylesheet" href="../script/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- datepicker-thai -->
    <link href="../script/bootstrap-datepicker-thai/css/datepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>
    <!-- Chart JS -->
    <script type="text/javascript" src="../script/ChartJS/Chart_js_2_9_4.js"></script>

</head>
<style>
  body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #131225;
  }

  .head-color {
    background-color: gold;
  }

</style>
<body>

  

  <div class="container-fluid">
    <div id="nav_footer" class="col-12" style="padding: 0;"></div>

    <div class="row">
      <div id="mynavbar" class="col-12" style="padding: 0;"></div>
    </div>
    <div class="row justify-content-center">
      
      <div class="col-2 px-4 py-2">
        <a href="../index.html" class="btn btn-sm btn-outline-warning">
          <i class="fa fa-reply" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-8 text-center mt-2">
          <h4 class="text-light">My Block</h4>
      </div>
      <div class="col-2 p-2">
        <!-- text -->
      </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center my-3 mt-3">
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
      </div>
    </div>
  </div>

  <script>
    $(".datepicker").datepicker({
        language:'th-th',
        format:'dd/mm/yyyy',
        autoclose: true
    });
  </script>
  <script src="mymanu.js"></script>
  <script src="nav_footer.js"></script>

  <script>
    const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    const yValues = [55, 49, 44, 24, 15];
    const barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
  </script>

</body>
</html>
<style>
    .jumbo-mb-0 {
        margin-bottom: 0px;
    }

    .date-input {
        border-color: #4335dc;
        background-image: url("img/svg/date-range.svg");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: 24px;
    }

    .div-curved {
      border-radius: 20px;
    }
</style>
<script>

    const scriptURL = 'https://script.google.com/macros/s/AKfycbzF3MJCzESCim7x1rSEE9WO2xO7DZMS8UJMr5ez9t_IlcrDYEpVUXtaQBGy-q6L35uDMA/exec';
    
    $("#searchBtn").click(function(){
      $('#user_list tbody tr').hide();
      $('#user-table-loading').show();
      get_searchName();
    });

    $("#user_log_out").click(function(){
      localStorage.clear();
      window.location.href = 'login.html';
    });

    function getData(url_controller) {

      fetch(url_controller, {
        method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            // console.log(data); #Dev
            if(data.length > 0){
              crate_data_table(data);
            }else{
              crate_data_table_empty();
            }
        })
        .catch(error => {
            console.error('Error!', error.message);
        });

    }

    function crate_data_table_empty() {
      var table = document.getElementById("user_list");
      // console.log(data.length);
      const options = { year: 'numeric', month: 'long', day: 'numeric', locale: 'th-TH' };
      tableBody = $("table tbody");
      tbody = '<tr class="bg-light"><td colspan="7" class="text-center text-danger text-bold mt-2"><h5>-ไม่พบข้อมูล-</h5></td></tr>';
      $('#user-table-loading').hide();
      $('#filter_birthday').prop( "disabled", false );
      tableBody.append(tbody); // render Table
    }
    
    function crate_data_table(data) {
      var table = document.getElementById("user_list");
      // console.log(data.length);
      const options = { year: 'numeric', month: 'long', day: 'numeric', locale: 'th-TH' };
      tableBody = $("table tbody");
      tbody = '';
      for (var i = 0; i < data.length; i++ ) {
        const get_create_at = new Date(data[i][1]); // create_at
        const create_at = get_create_at.toLocaleDateString('th-TH', options);

        const get_birthdate = new Date(data[i][6]); // birthdate
              get_birthdate.setFullYear(get_birthdate.getFullYear() - 543);
        const birthdate = get_birthdate.toLocaleDateString('th-TH', options);

        tbody = tbody+'<tr>';
        //start tr
        tbody = tbody+'<td>'+data[i][0]+'</td>' // id
        tbody = tbody+'<td>'+data[i][2]+'</td>' // first_name
        tbody = tbody+'<td>'+data[i][3]+'</td>' // last_name
        tbody = tbody+'<td>'+birthdate+'</td>' // birthdate
        tbody = tbody+'<td>'+data[i][4]+'</td>' // e-mail
        tbody = tbody+'<td>'+data[i][5]+'</td>' // sex
        tbody = tbody+'<td>'+create_at+'</td>' // create_at
        //end tr
        tbody = tbody+'</tr>'
      }
      
      $('#user-table-loading').hide();
      $('#filter_birthday').prop( "disabled", false );
      tableBody.append(tbody); // render Table
      // console.log(tbody)
    }

    function get_searchName() {
      var keyWord = $('#filter_full_name').val();
      var url_searchName = scriptURL+"?ctrl=" + encodeURIComponent('getSearchName')+
        "&search=" + encodeURIComponent(keyWord);
      
      getData(url_searchName);
    }

    function init() {
      console.log('Welcom to Userlist')
      $('#filter_birthday').prop( "disabled", true );

      var url_getAll = scriptURL+"?ctrl=" + encodeURIComponent('getAll');
      getData(url_getAll);
    }

    init();
</script>
