<!DOCTYPE html>
<html lang="en">
<head>
    <title>follow the money</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap@4.6.2 -->
    <link rel="stylesheet" href="../script/bootstrap4.6.2_lib/bootstrap.min.css">
    <script src="../script/bootstrap4.6.2_lib/jquery.slim.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/popper.min.js"></script>
    <script src="../script/bootstrap4.6.2_lib/bootstrap.bundle.min.js"></script>
    <!-- font-awesome-4.7 -->
    <link rel="stylesheet" href="../script/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- datepicker-thai -->
    <link href="../script/bootstrap-datepicker-thai/css/datepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript" src="../script/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>
</head>
<style>
  body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #131225;
  }

  .head-color {
    background-color: gold;
  }
</style>
<body>

  <div class="text-center head-color py-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 text-center">
        <img src="../img/static/my-logo.png" alt="" height="200">
      </div>
    </div>
  </div>

  <!--Navigation bar-->
  <!-- <div class="row">
    <embed type="text/html" src="navbar.html" style="width: 100%; height: 70px;">
  </div> -->

  <div id="navbar-container"></div>
  <!-- <script src="navbar.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

  <div class="row justify-content-center">
  
    <div class="col-6 mt-5">
        <div class="ml-5">
          <a href="../index.html" class="btn btn-outline-warning">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home 
          </a>
        </div>
    </div>
    <div class="col-6 text-right mt-5">
      <div class="mr-5">
        <button type="button" id="user_log_out" class="btn btn-outline-danger">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Logout 
        </button>
      </div>
  </div>

    <div class="col-9 mt-5">
      <!-- <div class="card border-warning text-white">
        <h5 class="card-header bg-secondary">ค้นหา</h5>
        <div class="card-body bg-dark">

          <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-left my-3">
              <label for="filter_full_name">ชื่อ-นามสกุล</label>
              <input id="filter_full_name" type="text" class="form-control">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-left my-3">
              <label for="filter_email">Email</label>
              <input id="filter_email" type="text" class="form-control">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-left my-3">
              <label for="filter_sex">เพศ</label>
              <input id="filter_sex" type="text" class="form-control">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-left my-3">
              <label for="filter_birthday">วันเกิด</label>
              <input type="text" id="filter_birthday" name="birthday" autocomplete="off" class="datepicker form-control" required>
            </div>
            <div class="col-12 text-right">
              <button id="searchBtn" class="btn btn-md btn-info" type="button">ค้นหา</button>
            </div>
          </div>

        </div> -->
      </div>

      <div class="col-12 text-center my-3 mt-3">
          <h4>
              <span class="text-white">รายชื่อสมาชิก </span>
              <span class="text-danger">Follow The Money</span>
          </h4>
      </div>

      <!-- <div class="table-responsive div-curved">
        <table id="user_list" class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ชื่อ</th>
              <th scope="col">นามสกุล</th>
              <th scope="col">วันเกิด</th>
              <th scope="col">Email</th>
              <th scope="col">เพศ</th>
              <th scope="col">วันที่สมัคร</th>
            </tr>
          </thead>
          <tbody>
            <tr id="user-table-loading">
              <td colspan="7" class="text-center">
                <div class="spinner-border text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
            </tr>        
          </tbody>
        </table>
        </div>
    </div> -->
  </div>

  <script>
    $(".datepicker").datepicker({
        language:'th-th',
        format:'dd/mm/yyyy',
        autoclose: true
    });
  </script>

</body>
</html>
<style>
    .jumbo-mb-0 {
        margin-bottom: 0px;
    }

    .date-input {
        border-color: #4335dc;
        background-image: url("img/svg/date-range.svg");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: 24px;
    }

    .div-curved {
      border-radius: 20px;
    }
</style>
<script>

    const scriptURL = 'https://script.google.com/macros/s/AKfycbzF3MJCzESCim7x1rSEE9WO2xO7DZMS8UJMr5ez9t_IlcrDYEpVUXtaQBGy-q6L35uDMA/exec';
    
    $("#searchBtn").click(function(){
      $('#user_list tbody tr').hide();
      $('#user-table-loading').show();
      get_searchName();
    });

    $("#user_log_out").click(function(){
      localStorage.clear();
      window.location.href = 'login.html';
    });

    function getData(url_controller) {

      fetch(url_controller, {
        method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if(data.length > 0){
              crate_data_table(data);
            }else{
              crate_data_table_empty();
            }
        })
        .catch(error => {
            console.error('Error!', error.message);
        });

    }

    function crate_data_table_empty() {
      var table = document.getElementById("user_list");
      // console.log(data.length);
      const options = { year: 'numeric', month: 'long', day: 'numeric', locale: 'th-TH' };
      tableBody = $("table tbody");
      tbody = '<tr class="bg-light"><td colspan="7" class="text-center text-danger text-bold mt-2"><h5>-ไม่พบข้อมูล-</h5></td></tr>';
      $('#user-table-loading').hide();
      $('#filter_birthday').prop( "disabled", false );
      tableBody.append(tbody); // render Table
    }
    
    function crate_data_table(data) {
      var table = document.getElementById("user_list");
      // console.log(data.length);
      const options = { year: 'numeric', month: 'long', day: 'numeric', locale: 'th-TH' };
      tableBody = $("table tbody");
      tbody = '';
      for (var i = 0; i < data.length; i++ ) {
        const get_create_at = new Date(data[i][1]); // create_at
        const create_at = get_create_at.toLocaleDateString('th-TH', options);

        const get_birthdate = new Date(data[i][6]); // birthdate
              get_birthdate.setFullYear(get_birthdate.getFullYear() - 543);
        const birthdate = get_birthdate.toLocaleDateString('th-TH', options);

        tbody = tbody+'<tr>';
        //start tr
        tbody = tbody+'<td>'+data[i][0]+'</td>' // id
        tbody = tbody+'<td>'+data[i][2]+'</td>' // first_name
        tbody = tbody+'<td>'+data[i][3]+'</td>' // last_name
        tbody = tbody+'<td>'+birthdate+'</td>' // birthdate
        tbody = tbody+'<td>'+data[i][4]+'</td>' // e-mail
        tbody = tbody+'<td>'+data[i][5]+'</td>' // sex
        tbody = tbody+'<td>'+create_at+'</td>' // create_at
        //end tr
        tbody = tbody+'</tr>'
      }
      
      $('#user-table-loading').hide();
      $('#filter_birthday').prop( "disabled", false );
      tableBody.append(tbody); // render Table
      // console.log(tbody)
    }

    function get_searchName() {
      var keyWord = $('#filter_full_name').val();
      var url_searchName = scriptURL+"?ctrl=" + encodeURIComponent('getSearchName')+
        "&search=" + encodeURIComponent(keyWord);
      
      getData(url_searchName);
    }

    function init() {
      console.log('Welcom to Userlist')
      $('#filter_birthday').prop( "disabled", true );

      var url_getAll = scriptURL+"?ctrl=" + encodeURIComponent('getAll');
      getData(url_getAll);
    }

    init();
</script>
